{{define "footer"}}
    <footer class="main-footer">
        <center>
            <strong><a href="https://www.bjca.cn/">©2021 北京数字认证股份有限公司</a></strong>
                        {{.FooterInfo}}
        </center>

    </footer>
{{end}}